/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* Imagen de fondo */
  background-image: url('img.png'); /* pon aquí la ruta de tu imagen */
  background-size: cover; /* cubre toda la pantalla */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del login */
.login-container {
  background-color: rgba(0, 0, 0, 0.7); /* negro semi-transparente */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  color: white;
  width: 300px;
  text-align: center;
}

  .login-container h1 {
    margin-bottom: 20px;
  }

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFD700; /* color amarillo */
  color: black;
  font-weight: bold;
  cursor: pointer;
}

  button:hover {
    background-color: brown;
    color: white;
  }

#message {
  margin-top: 10px;
  color: #ff6666;
}
